@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Space+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #050505;
    @apply text-slate-200 antialiased overflow-x-hidden selection:bg-white/20 selection:text-white;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-xl border border-white/10;
  }
  .glass-card {
    @apply bg-[#050505]/40 backdrop-blur-2xl border border-white/10 shadow-2xl;
  }
  .glass-card-light {
    @apply bg-white/10 backdrop-blur-3xl border border-white/20;
  }
}

/* Custom Scrollbar for Lenis */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
